.pixel {
  border: 1px solid black;
  width: 38px;
  height: 38px; 
  font-size: 0px;
}

.color {
  border: 1px solid black;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-left: 0px;
}

#pixel-board {
  border: 1px solid red;
  padding-bottom: 0px;
  font-size: 0px;
}

.pixel-coluna {
  display: inline-block;
}

.selected {
  border: 2px solid rgb(255, 72, 0);
}
